@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular&display=swap);

@font-face {
    font-family: 'Montserat';
    src: url('../fonts/Montserrat-Medium.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}